				<div class="col-md-3">
					<div class="list-group applicants-sideber">
					  <%= link_to '教室開講までの流れ', applicants_flow_path, class:"list-group-item side-list" %>
					  <%= link_to '安心サポートについて', applicants_support_path, class:"list-group-item side-list" %>
					  <%= link_to '教室を始める', new_user_registration_path, class:"list-group-item side-list" %>
					</div>
				</div>