	<div class="main-visual">
		<div class="container">
			<div class="row">

              <%= render 'applicants/list' %>

				<div class="col-md-9">
					<div class="applicants-flow">
						<section>
								<h1>教室開講までの流れ</h1>
								<ul class="flow-list">
									<li>
										<h3>1.資料請求</h3>
											お電話にて受け付けております。お気軽にご要望、お悩み等なんでもご相談下さい。<br>お問い合わせ　０３−００００−００００
								　　</li>
									<li>
										<h3>2.説明会</h3>
											授業内容についてご説明・面談を行います。
									</li>
									<li>
										<h3>3.教室確保</h3>
											ご自宅、貸会場のいずれかで教室を開設することが可能です。貸会場についてはご相談しながらご提案させて頂きます。
									</li>
									<li>
										<h3>4.開設準備</h3>
											教室に必要な備品を準備します。
											教室登録フォームにてご登録をお願い致します。
									</li>
									<li class="last">
										<h3>5.教室スタート</h3>
											開設後も講習会を受けることができます。ご相談ください。
									</li>
								</ul>
					    </section>
					</div>
				</div>
			</div>
		</div>
	</div>
