	<div class="main-visual">
		<div class="container">
			<div class="row">

				<%= render 'applicants/list' %>

				<div class="col-md-9">
					<div class="applicants-support">
						<section>
								<h1>安心サポートについて</h1>
								<h3><%= image_tag "Hart.png" ,class: "hart-icon", alt: "" %> 研修制度</h3>
								<p class="school-detail-text">説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ</p>
								<h3><%= image_tag "Hart.png" ,class: "hart-icon", alt: "" %> 教材の提供</h3>
								<p class="school-detail-text">説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ</p>
					    </section>
					</div>
				</div>
			</div>
		</div>
	</div>