<% breadcrumb :applicants_support %>

	<div class="main-visual">
		<div class="container">
			<%= render partial: 'customers/breadcrumb' %>
			<div class="row">

				<%= render 'applicants/list' %>

				<div class="col-md-9">
					<div class="applicants-support">
						<section>
								<h1>安心サポートについて</h1>
								<h3><%= image_tag "Hart.png" ,class: "hart-icon", alt: "" %> 研修制度</h3>
								<p class="school-detail-text">
									月に一度、弊社エンジニアによる教育に関する定期研修があります。<br>
									遠方の方はスカイプにてご参加が可能です。<br>
									教材の使い方や教え方のノウハウを学んでいただきます。<br>
									また随時ご質問等を受け付けておりますので、不明点などあった場合はすぐにお答え致します。
								</p>
								<h3><%= image_tag "Hart.png" ,class: "hart-icon", alt: "" %> 教材の提供</h3>
								<p class="school-detail-text">
									弊社独自の教材とカリキュラムを提供いたします。<br>
									またタブレットやPCの貸し出しも行っております。
								</p>
					    </section>
					</div>
				</div>
			</div>
		</div>
	</div>