	<div class="main-visual">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 under-image">
					<%= link_to applicants_flow_path, class:"banner2-image-hover" do %>
						<div class="box2 banner2-image1">
							<p class="banner2-text">教室開講までの流れ</p>
						</div>
					<% end %>

					<%= link_to applicants_support_path, class:"banner2-image-hover" do %>
						<div class="box2 banner2-image2">
							<p class="banner2-text">安心サポートについて</p>
						</div>
					<% end %>

					<%= link_to new_user_registration_path, class:"banner2-image-hover" do %>
						<div class="box2 banner2-image3">
							<p class="banner2-text">教室を始める</p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>