	<div class="main-visual">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-xs-9">
					<div class="completed-massage-form classwork-not-page2">
						<div class="box15">
							<section class="text-center text-position">
								<h1>送信が完了しました</h1>
								<p class="school-detail-text">
									後日、担当者からご連絡させて頂きます。
								</p>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>