	<div class="main-visual">
		<div class="container">
			<div class="row price">
				<div class="col-xs-12">
					<section>
						<h3 class="c-tit1">受講料金</h3>

							<table class="c-table1">
								<tr>
									<th>入学金</th>
									<td>6,000円</td>
								</tr>
							</table>

							<table class="c-table1">
								<thead>
								<tr>
									<th>コース</th>
									<th>受講料（月謝）</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>タブレットプログラミングコース</th>
									<td>7,000円</td>
								</tr>
								<tr>
									<th>Scratchプログラミングコース</th>
									<td>11,000円</td>
								</tr>
								</tbody>
							</table>

						<h3 class="c-tit1" style="margin-bottom: 0px;">タブレット・ノートPCレンタル料金</h3>

						　　<table class="c-table1">
							　　<thead>
								<tr>
									<th>デバイス</th>
									<th>月額</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>タブレット</th>
									<td>2,000円</td>
								</tr>
								<tr>
									<th>ノートPC</th>
									<td>3,000円</td>
								</tr>
								</tbody>
							</table>

							<p>※消費税別<br /></p>
					</section>
			    </div>
			</div>
		</div>
	</div>
