	<div class="main-visual">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-xs-9">
					<div class="row school-detail">
						<div class="col-md-7">
							<section>
								<h1>教室について</h1>
								<p class="school-detail-text">説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ説明だよ</p>
							</section>
						</div>
						<div class="col-md-5">
							<%= image_tag "maekodomo.jpg" ,class: "img-responsive school-detail-image" ,alt: "#" %>
							<%= image_tag "usirokodomo.jpg" ,class: "img-responsive school-detail-image" ,alt: "#" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>