	<div class="main-visual">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<%= link_to school_details_path do %>
						<div class="box banner-image1">
							<p class="banner-text">教室について</p>
						</div>
					<% end %>
				</div>
				<div class="col-md-6">
					<%= link_to study_path do %>
				        <div class="box banner-image2">
				        	<p class="banner-text">学習内容</p>
				        </div>
				    <% end %>
				</div>
				<div class="col-md-6 under-image">
					<%= link_to price_path do %>
					    <div class="box banner-image3">
					    	<p class="banner-text">料金</p>
					    </div>
					<% end %>
				</div>
				<div class="col-md-6 under-image">
					<%= link_to search_path do %>
					    <div class="box banner-image4">
					    	<p class="banner-text">教室を探す</p>
					    </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
